
<div class="pimg1">
  <div class="container-fluid tagline-text-wrapper">
    <h1 class="text-secondary tagline-header">Think Inside The Box.</h1>
    <p class="text-secondary tagline-subtext">Fish Creek's Number One and Only Squash Club</p>
    <a routerLink="/sign-up"><button class="btn btn-danger sign-up-btn pointer">Join the Fun</button></a>
  </div>
</div>

    <section id="club-information" class="section">
      <h2>Club Information</h2>
      <div class="container text-wrapper">
        <p>
          To us, squash is more than just a game. It's the pillar of our community and our way of life.
          Here at Fish Creek, we take our squash seriously. Our team of dedicated and accomplished coaches will inspire you take your game to the next level.
        </p>
      </div>
      <hr class="red-line">
      <a class="text-danger learn-more-text" routerLink="/club-information">Learn More</a>
    </section>


<div class="pimg2">
  <div class="container ptext">
      <blockquote class="blockquote quote-text">
        <p class=" text-secondary text-shadow">"I wanted a fun way to stay in shape,
          and I found one with Fish Creek Squash."</p>
        <footer class="blockquote-footer text-primary">Rebecca, age 22
        </footer>
      </blockquote>
  </div>
</div>

  <section id="events" class="section">
    <h2>Events</h2>
    <div class="container text-wrapper mx-auto">
      <p>
        Being one of Fish Creek's only squash clubs, we take our commitment to the community seriously.
        And that's why we organize tournaments and other events for people of all ages and ability. Don't squash alone. Squash with us.
      </p>
    </div>
    <hr class="red-line">
    <a class="text-danger learn-more-text" routerLink="/events">Learn More</a>
  </section>

<div class="pimg3">
  <div class="container ptext">
    <blockquote class="blockquote quote-text">
      <p class="mb-5 text-secondary text-shadow">"I've met so many interesting people who share my love for squash since I joined."</p>
      <footer class="blockquote-footer text-primary">Jerome, age 15
      </footer>
    </blockquote>
  </div>
</div>

<section id="reserve-court" class="section">
  <h2>Reserve a Court</h2>
  <div class="container text-wrapper mx-auto">
    <p>
      We get it. You're a busy person, and you don't have time to sit around drinking water from paper cups while you wait for a court to open up.
      That's why for the convenience of our members, we offer online court reservations.
    </p>
  </div>
  <hr class="red-line">
  <a class="text-danger learn-more-text" routerLink="/reserve-court">Learn More</a>
</section>

<div class="pimg4">
  <div class="container ptext">
      <blockquote class="blockquote quote-text">
        <p class="mb-5 text-secondary text-shadow">"If you can hit a ball, you can play squash!"</p>
        <footer class="blockquote-footer text-primary">Anthony, age 66
        </footer>
      </blockquote>
  </div>
</div>

<section id="lessons" class="section">
  <h2>Lessons</h2>
  <div class="container text-wrapper mx-auto">
    <p>
      We offer private squash lessons from some of Fish Creek's most accomplished coaches.
      No matter your age or level, our team of dedicated and accomplished coaches will inspire you take your game to the next level.
    </p>
  </div>
  <hr class="red-line">
  <a class="text-danger learn-more-text" routerLink="/lessons">Learn More</a>
</section>

<div class="pimg5">
  <div class="container ptext">
      <blockquote class="blockquote quote-text">
        <p class="mb-5 text-secondary text-shadow">"Of all the squash clubs in Fish Creek,
          this one is by far one of them"</p>
        <footer class="blockquote-footer text-primary">Dan, age 37
        </footer>
      </blockquote>
  </div>
</div>
