<div [@fadeInAnimation]="''" class="container-fluid content-container">
  <h1>Events</h1>
  <p>So you've been tirelessly squashing away, honing your skills, and now you want to show off your achievements. Well, you're in luck!</p>
  <p>Have a look below at our list of events and see if you can't find one that piques your interest.</p>
  <hr class="red-line">
  <div class="event-listing-wrapper">
    <ul class="list-group">
      <li class="list-group-item event-item">
        <h4 class="event-title">Couples Tournament</h4>
        <p class="event-date">07/12/2017</p>
        <a class="event-details-anchor" data-toggle="collapse" href="#event-listing-1" aria-expanded="false" aria-controls="collapseExample">
          Details
        </a>
        <div class="collapse" id="event-listing-1">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </li>
      <li class="list-group-item event-item">
        <h4 class="event-title">Junior Tournament</h4>
        <p class="event-date">01/11/2017</p>
        <a class="event-details-anchor" data-toggle="collapse" href="#event-listing-2" aria-expanded="false" aria-controls="collapseExample">
          Details
        </a>
        <div class="collapse" id="event-listing-2">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </li>
      <li class="list-group-item event-item">
        <h4 class="event-title">Find-a-Partner Meet and Greet</h4>
        <p class="event-date">27/10/2017</p>
        <a class="event-details-anchor" data-toggle="collapse" href="#event-listing-3" aria-expanded="false" aria-controls="collapseExample">
          Details
        </a>
        <div class="collapse" id="event-listing-3">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </li>
    </ul>



  </div>
</div>
