  <div [@fadeInAnimation]="''" class="container-fluid content-container">
    <h1>The Club</h1>
    <p>Conveniently located in the northeastern corner of southwest Fish Creek, our club boasts three squash courts, two racquetball courts, a full gym with cardio and weight training sections, a fully licensed bar, and change rooms with steam rooms and showers.</p>
    <p>Memberships options at Fish Creek Sports Club are flexible and affordable. Guests and the public are welcome for a $15.00 drop in fee.</p>
    <p>Need to know more? Contact us at <a href="">000-0000</a> or shoot us an email at
      <br>
      <a href="">fishcreeksquash@fishcreeksquash.com</a>
    </p>
    <hr class="red-line">
    <div class="container map-container">
      <table class="table hours-table">
        <thead>
          <tr>
            <th colspan="2">HOURS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">MON - FRI:</th>
            <td>7:00AM - 10:00PM:</td>
          </tr>
          <tr>
            <th scope="row">SAT - SUN</th>
            <td>8:30AM - 4:30PM</td>
          </tr>
      </tbody>
    </table>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d322496.8853375598!2d-114.36944577326108!3d50.84029660256391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c0426ec83ba111b!2sFish+Creek+Sports+Club!5e0!3m2!1sen!2sie!4v1512589544229" allowfullscreen></iframe>
  </div>
</div>
