<div [@fadeInAnimation]="''" class="container-fluid content-container">
  <h1>Log-in</h1>
  <hr class="red-line">

  <form class="custom-form">
    <div class="form-group">
      <label for="registerEmail">Email address</label>
      <input type="email" class="form-control" id="registerEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="registerPassword">Password</label>
      <input type="password" class="form-control" id="registerPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary pointer">Submit</button>
</form>

</div>
