<div [@fadeInAnimation]="''" class="container-fluid content-container">
  <h1>Lessons</h1>
  <p>Our club boasts three of the finest squash instructors in all of Fish Creek at the affordable price of $35 per half-hour lesson (includes court reservation fee).</p>
  <hr class="red-line">

  <div class="media">
    <img class="d-flex mr-3 coach-thumb kiefer-thumb" alt="Coach Kiefer">
    <div class="media-body">
      <h5 class="mt-0">Coach Kiefer</h5>
      Kiefer is an NCCP level 2 squash coach currently working towards his level 3 certification.
      Kiefer has been coaching for 6 years and has hundreds of hours experience with players of all levels, ages, and abilities.
    </div>
  </div>
  <br>
  <div class="media">
    <img class="d-flex mr-3 coach-thumb leona-thumb" alt="Coach Leona">
    <div class="media-body">
      <h5 class="mt-0">Coach Leona</h5>
      Leona is an NCCP Level 2 squash coach and has been an advocate for junior squash in Alberta and the prosperity of the sport.
      As a player, Leona played for Fish Creek on the junior national team from 1996-99 and was selected for world junior championships.
    </div>
  </div>
  <br>
  <div class="media">
    <img class="d-flex mr-3 coach-thumb matt-thumb" alt="Coach Matt">
    <div class="media-body">
      <h5 class="mt-0">Coach Matt</h5>
      Matt in an NCCP Level 3 squash coach who has previously worked as the Technical Director and Provincial Coach for Squash Alberta.
    </div>
  </div>

</div>
