.coach-thumb {
  max-width: 150px;
}
.kiefer-thumb{
  content:url(../../assets/img/kiefer.jpg);
}
.leona-thumb{
  content:url(../../assets/img/leona.jpg);
}
.matt-thumb{
  content:url(../../assets/img/matt.jpg);
}
